@mixin transition($property: all, $duration: 0.3s, $timing: linear) {
    -webkit-transition: #{$property} #{$duration} #{$timing};
    -moz-transition: #{$property} #{$duration} #{$timing};
    -ms-transition: #{$property} #{$duration} #{$timing};
    -o-transition: #{$property} #{$duration} #{$timing};
    transition: #{$property} #{$duration} #{$timing};
}