// variables default theme
$colors: (
    borderColor: #E3E4E7,
    titleColor: #5B6474,
    textColor: #00091F,
    placeholder: #999999,
    bgColor: #737A88,
    bgSecondaryColor: #f6f6f7,
    primary: #152238,
    secondary: #2483E2,
    softSecondary: #F2F7FD,
    danger: #CE1313,
    white: #fff,
);

$base-font: 'Inter', sans-serif;
$input-border-radius: 16px;
$input-height: 48px;
$transition-time: 0.2s;