<div class="menu-holder">
    <div class="menu-top">
        <a href="#" class="open-menu">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <div class="nav-controls">
        <label class="form-row">
            <select>
                <option>Utility Billing System</option>
                <option selected="selected">Fund Management System</option>
            </select>
        </label>
        <label class="form-row">
            <div class="input-holder">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search...">
            </div>
        </label>
    </div>
    <div class="scroll-holder">
        <nav id="nav">
            <ul class="nav-menu">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-house"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-clock"></i>
                        <span>Time Card and HR Self Service</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Dept/Manager HR Self-Service</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-file"></i>
                        <span>Requisitions Main Menu</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <span>Department Budgeting</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-message"></i>
                        <span>Inquiries Menu</span>
                    </a>
                    <ul>
                        <li>
                          <a href="#">GL Master Inquiry</a>
                        </li>
                        <li>
                          <a href="#">Funds Master Inquiry</a>
                        </li>
                        <li>
                          <a href="#">Simple GL Inquiry</a>
                        </li>
                        <li>
                          <a href="#">Advanced Financial Reports</a>
                        </li>
                        <li>
                          <a href="#">Vendor/Invoice Inquiry</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i>RP</i>
                        <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i>WO</i>
                        <span>Work Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i>FM</i>
                        <span>File Maintenance</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="log-out-container">
        <a href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log Out</span>
        </a>
    </div>
    <div class="bottom-nav-holder">
        <strong class="logo"><a href="#"></a></strong>
        <a href="#" class="share">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
    </div>
</div>